################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cgwo/obj
/cgwo/bin/Debug
/packages
/Cogs.Core/bin/Debug
/Cogs.Core/obj
/Cogs.Common/bin/Debug
/Cogs.Common/obj
/GorgleDevs.Wpf/obj/Debug
/GorgleDevs.Wpf/bin/Debug
/GorgleDevs.Wpf.Samples/bin/Debug
/GorgleDevs.Wpf.Samples/obj/Debug
/Cogs.Data.Sqlite
/Cogs.Data.LiteDb/bin/Debug
/Cogs.Data.LiteDb/obj
/GorgleDevs.Wpf/obj/Release
/GorgleDevs.Wpf.Samples/obj/Release
