################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cgwo/obj
/cgwo/bin/Debug
/packages
