################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cgwo/obj
/cgwo/bin/Debug
/packages
/Cogs.Core/bin/Debug
/Cogs.Core/obj
/Cogs.Common/bin/Debug
/Cogs.Common/obj
/GorgleDevs.Wpf/obj/Debug
/GorgleDevs.Wpf/bin/Debug
/GorgleDevs.Wpf.Samples/bin/Debug
/GorgleDevs.Wpf.Samples/obj/Debug
/Cogs.Data.Sqlite
/GorgleDevs.Wpf/obj/Release
/Cogs.Data.LiteDb/bin/Debug
/Cogs.Data.LiteDb/obj
/GorgleDevs.Wpf.Samples/obj/Release/GorgleDevs.Wpf.Samples.csproj.CoreCompileInputs.cache
/GorgleDevs.Wpf.Samples/obj/Release/GorgleDevs.Wpf.Samples_MarkupCompile.cache
/GorgleDevs.Wpf.Samples/obj/Release/GorgleDevs.Wpf.Samples_MarkupCompile.lref
/GorgleDevs.Wpf.Samples/obj/Release
/Cogs.Json/bin/Debug
/Cogs.Json/obj/Debug
